@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --container-8xl: 1920px;

  --font-sans: 'DM Sans', system-ui;

  --spacing-em: 1em;
  --spacing-rem: 1rem;

  --color-brand-50: #fffbe8;
  --color-brand-100: #fff8d1;
  --color-brand-150: #fff4ba;
  --color-brand-200: #fff0a3;
  --color-brand-300: #ffe974;
  --color-brand-400: #ffe146;
  --color-brand-500: #ffda18;
  --color-brand-600: #f0cd14;
  --color-brand-650: #e6b600;
  --color-brand-700: #b29911;
  --color-brand-800: #66570a;
  --color-brand-850: #4d4107;
  --color-brand-900: #332c05;

  --color-gray-50: #f9f9f9;
  --color-gray-100: #e7e9ec;
  --color-gray-150: #dadee3;
  --color-gray-200: #ced3da;
  --color-gray-300: #b6bcc7;
  --color-gray-400: #9da6b5;
  --color-gray-500: #8590a2;
  --color-gray-600: #6a7382;
  --color-gray-700: #505661;
  --color-gray-800: #353a41;
  --color-gray-850: #282b31;
  --color-gray-900: #1b1d20;
  --color-gray-950: #0d0e10;

  --color-blue-500: #4392ff;
  --color-blue-850: #14345f;
  --color-blue-900: #14253d;
  --color-blue-950: #0c192b;

  --color-purple-300: #be8bff;
  --color-purple-700: #5c25a1;
}

@layer base {
  .dark {
    color-scheme: dark;
  }

  /* latin-ext */
  @font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/dmsans-latin-ext.woff2") format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F,
      U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F,
      U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/dmsans-latin.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
      U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
      U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/dmsans-bold-latin-ext.woff2") format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F,
      U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F,
      U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/dmsans-bold-latin.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
      U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
      U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
}

:root {
  --syntax-string: #005cc5;
  --syntax-keyword: #cf222e;
  --syntax-comment: #6a737d;
  --syntax-variable: #22863a;
}

.dark:root {
  --syntax-string: #f0cd14;
  --syntax-keyword: #8ebeff;
  --syntax-comment: #929cb0;
  --syntax-boolean: #24d335;
  --syntax-property: #be8bff;
  --syntax-punctuation: #f4ecff;
  --syntax-variable: #f9f9f9;
}
