.panel {
  --offset-top-base: calc(100vh - theme(height.20) - 1px);
  --offset-top: var(--offset-top-base);
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  max-height: var(--offset-top);
}

:root:has([role="banner"]) .panel {
  --offset-top: calc(var(--offset-top-base) - theme(height.6));
}
  
