name: Index (cron)
permissions: {}
on:
  schedule:
    - cron: "0 * * * *" # Run every hour
concurrency:
  group: index
  cancel-in-progress: false
jobs:
  generate:
    name: Run generation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: main
      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'backend/go.mod'
      - name: Cache tofu binary
        uses: actions/cache@v4
        with:
          path: ./backend/internal/moduleindex/moduleschema/testtofu
          key: tofu-binary
      - name: Build tofu
        working-directory: backend
        run:
          go generate ./...
      - name: Update documentation
        working-directory: backend
        env:
          AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
          AWS_ENDPOINT_URL_S3: ${{secrets.AWS_ENDPOINT_URL_S3}}
          AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
          S3_BUCKET: ${{secrets.S3_BUCKET}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          NAMESPACES: hashicorp opentofu env0 spacelift-io scalr harness-io integrations
        run:
          go run github.com/opentofu/registry-ui/cmd/generate --log-level=trace --s3-bucket=${S3_BUCKET} --blocklist ../blocklist.json --licenses-file ../licenses.json
      - name: Update search index
        working-directory: search/pg-indexer
        env:
          PG_CONNECTION_STRING: ${{secrets.PG_CONNECTION_STRING}}
        run: go run ./
