name: Verify
permissions: {}
on:
  pull_request:

jobs:
  generate:
    name: Go generate
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup go
        uses: actions/setup-go@v5
      - name: Cache tofu binary
        uses: actions/cache@v4
        with:
          path: ./internal/moduleindex/moduleschema/testtofu
          key: tofu-binary
      - name: Run go generate
        run: go generate ./...
      - name: Check if there are any changes
        run: |
          if [ "$(git diff | wc -l)" -ne 0 ]; then
            echo "Changes detected after go generate. Please run go generate ./... and push your changes."
          fi
  tests:
    name: Tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup go
        uses: actions/setup-go@v5
      - name: Cache tofu binary
        uses: actions/cache@v4
        with:
          path: ./internal/moduleindex/moduleschema/testtofu
          key: tofu-binary
      - name: Run go generate
        run: go generate ./...
      - name: Run tests
        run: |
          go test ./...
  frontend:
    name: Frontend Lint and Test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
      - name: Install dependencies
        run:
          npm ci
      - name: Run ESLint
        run:
          npm run eslint
      - name: Run Prettier Check
        run:
          npm run prettier:check
      - name: Run Tests
        run:
          npm run test
  backend-lint:
    name: Backend Lint
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend
    strategy:
      matrix:
        modules:
          - backend
          - search/pg-indexer
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup go
        uses: actions/setup-go@v5
      - name: Backend Linting
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.62
          working-directory: ${{ matrix.modules }}
